<div class='ui container'>
  <%= button_to 'Create a new Repo', new_repo_path, method: 'get' %>
  <h1>Repos</h1>
  <div class='ui middle aligned animated selection list'>
    <% Repo.all.map do |r| %>
      <div class="item">
        <div class="content">
          Repo Name: <%= r.repo_name %>
          <br>
          Repo language: <%= r.language %>
          <br>
          Repo Owner: <%= r.user.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
